@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



body {
    font-family: "Poppins",sans-serif;
    margin: 0;
    background-color: #f6f7fb;
}
#topbar {
    width: 100%;
    padding: 0 48px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px #ccc;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#topbar-left-menu {
    display: flex;
    text-align: center;
}
#topbar-logo-wrapper {
    display: flex;
    align-items: center;
    margin-right: 36px;
}
#topbar-logo-wrapper img {
    width: 24px;
    height: 28px;
    margin-right: 8px;
}
#topbar-brandname {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 500;
    margin: 0;
    color: rgba(0,0,0,.8);
}
.topbar-menu-items {
    display: inline-block;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 16px;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .6px;
    margin: 0 10px;
    cursor: pointer;
}
.active, .topbar-menu-items:hover {
    color: #20b883;
    border-bottom: 3px solid #20b883;
    padding-bottom: 13px;
}
#app-main-container {
    margin-top: 100px;
}
#loginpage-form {
    width: 100%;
    max-width: 500px;
    border-radius: 6px;
    background-color: #fff;
    margin: 0 auto;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px #ccc;
}
#loginpage-form h1{
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0 0 24px;
}
.loginpage-inputfield {
    width: 100%;
    padding-top: 16px;
    font-size: 14px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 2px solid #8c8c8c;
    margin-bottom: 16px;
    outline: none;
}
#loginpage_button {
    
    display: inline-block;
    border-radius: 30px;
    padding: 14px 36px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #20b883;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px;
}

/* homepage-orders */
#homepage-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 8% 4%;
}
#homepagepage-main-heading {
    margin: 0;
}
 h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
} 
#homepage-orders-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 24px 0;
}
#homepage-filter-wrapper {
    width: 180px;
}
h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
#homepage-filteroptions {
    display: flex;
    flex-direction: column;
}

.homepage-filtercheckbox {
    margin: 6px 0;
    cursor: pointer;
}
#homepage-order-table-wrapper {
    width: 100%;
}
#homepage-orders-table {
    width: 100%;
    border-collapse: collapse;

    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
   
}
#homepage-table-subject-row {
    vertical-align: middle;
    display: table-row;
}
#homepage-orders-table th {
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
    display: table-cell;
    font-weight: bold;
  }
tbody {
    display: table-row-group;
    vertical-align: middle;
}
.homepage-tablerow {
    display: table-row;
}
#homepage-orders-table td {
     background-color: #fff; 
    border-bottom: 4px solid #f6f7fb;
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
    display: table-cell;
}
.homepage-scondarytext {
    color: #8c8c8c;
}
.homepage-primarytext {
    color: rgba(0,0,0,.8);
    font-weight: 500;
}
/* hompage orders END */


/* Product Page Start */
#productpage-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 8% 4%;
}
#productpage-main-heading {
    margin: 0;
}
 h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
} 
#productpage-products-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 24px 0;
}
#productpage-filter-wrapper {
    width: 180px;
}
h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
#productpage-filteroptions {
    display: flex;
    flex-direction: column;
}

.productpage-filtercheckbox {
    margin: 6px 0;
    cursor: pointer;
}
#productpage-products-table-wrapper {
    width: 100%;
}
#productpage-products-table {
    width: 100%;
    border-collapse: collapse;

    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
   
}
#productpage-table-subjectrow {
    vertical-align: middle;
    display: table-row;
}
#productpage-products-table th {
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
    display: table-cell;
    font-weight: bold;
  }
tbody {
    display: table-row-group;
    vertical-align: middle;
}
.productpage-tablerow {
    display: table-row;
}
#productpage-products-table td {
     background-color: #fff; 
    border-bottom: 4px solid #f6f7fb;
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
    display: table-cell;
}
.productpage-scondarytext {
    color: #8c8c8c;
}
.productpage-primarytext {
    color: rgba(0,0,0,.8);
    font-weight: 500;
}
/* Product Page END */

/* Users Page */
#userpage-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 0 8% 4%;
}
#userpage-main-heading {
    margin: 0;
}
 h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
} 
#userpage-userswrapper {
    width: 100%;
    padding: 24px 0;
}
#userpage-searchbox-button-wrapper {
    width: 700px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
#userspage-searchbox {
    width: calc(100% - 100px);
    padding: 12px 24px;
    font-size: 15px;
    border: 0;
    border-bottom: 2px solid #8c8c8c;
    margin: 0 36px 0 0;
    outline: none;
}
#userpage-reset-button {
    display: inline-block;
    border-radius: 30px;
    padding: 14px 36px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #20b883;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
#userpage-users-table-wrapper {
    width: 100%;
}
#userpage-users-table {
    width: 100%;
    border-collapse: collapse;

    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
   
}
#userpage-table-subject-row {
    vertical-align: middle;
    display: table-row;
}
#userpage-users-table th {
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
    display: table-cell;
    font-weight: bold;
  }
tbody {
    display: table-row-group;
    vertical-align: middle;
}
.userpage-users-table-row {
    display: table-row;
}
#userpage-users-table td {
     background-color: #fff; 
    border-bottom: 4px solid #f6f7fb;
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
    display: table-cell;
}
.userpage-scondarytext {
    color: #8c8c8c;
}
.userpage-primarytext {
    color: rgba(0,0,0,.8);
    font-weight: 500;
}
/* Users page END */
